@model ProfileViewModel

<div class="container my-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Accounts</h5>
                    <hr />
                    <div class="row">
                        <div class="col">
                            <a asp-controller="Account" asp-action="Accounts"><button class="btn btn-outline-dark btn-block btn-lg">Back to Accounts</button></a>                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            @Html.Partial("_Message")
            <div class="card mb-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Account</h5>
                    <hr />
                    @{
                        if (Model.Id != 0)
                        {
                            <form asp-controller="Account" asp-action="UpdateAccount" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Id" />
                                <div class="form-group">
                                    <label asp-for="Email">Email:</label><br />
                                    <input asp-for="Email" type="email" class="form-control" placeholder="name@example.com">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="PhoneNumber">PhoneNumeber:</label>
                                    <input asp-for="PhoneNumber" type="text" class="form-control" placeholder="+1231234123">
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                                <div class="form-row form-group">
                                    <div class="col">
                                        <label asp-for="FirstName">Firstname:</label>
                                        <input asp-for="FirstName" type="text" class="form-control" placeholder="First name">
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    </div>
                                    <div class="col">
                                        <label asp-for="LastName">Lastname:</label>
                                        <input asp-for="LastName" type="text" class="form-control" placeholder="Last name">
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-row form-group">
                                    <div class="col">
                                        <label>Role:</label>
                                        <select asp-for="@Model.SelectedRole" asp-items="@Model.Roles" class="form-control"></select>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-outline-dark btn-block btn-lg">Update</button>
                            </form>
                        }
                        else
                        {
                            <form asp-controller="Account" asp-action="CreateAccount" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Id" />
                                <div class="form-group">
                                    <label asp-for="Email">Email:</label><br />
                                    <input asp-for="Email" type="email" class="form-control" placeholder="name@example.com">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="PhoneNumber">PhoneNumeber:</label>
                                    <input asp-for="PhoneNumber" type="text" class="form-control" placeholder="+1231234123">
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                                <div class="form-row form-group">
                                    <div class="col">
                                        <label asp-for="FirstName">Firstname:</label>
                                        <input asp-for="FirstName" type="text" class="form-control" placeholder="First name">
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    </div>
                                    <div class="col">
                                        <label asp-for="LastName">Lastname:</label>
                                        <input asp-for="LastName" type="text" class="form-control" placeholder="Last name">
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-row form-group">
                                    <div class="col">
                                        <label asp-for="Password">Password:</label>
                                        <input asp-for="Password" type="text" class="form-control" placeholder="Password...">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <div class="col">
                                        <label asp-for="ConfirmPassword">Confirmpassword:</label>
                                        <input asp-for="ConfirmPassword" type="text" class="form-control" placeholder="Confirmpassword...">
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-row form-group">
                                    <div class="col">
                                        <label>Role:</label>
                                        <select asp-for="@Model.SelectedRole" asp-items="@Model.Roles" class="form-control"></select>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-outline-dark btn-block btn-lg">Create</button>
                            </form>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>