@{
    ViewData["Title"] = "Home -page";
}

<div class="loop-wrapper">
    <div class="cloud"></div>
    <div class="mountain"></div>
    <div class="hill"></div>
    <div class="tree"></div>
    <div class="tree"></div>
    <div class="tree"></div>
    <div class="tree"></div>
    <div class="tree"></div>
    <div class="truck"></div>
    <div class="wheels"></div>
</div>

<div class="bg-white">
    <div class="container">
        @{
            if (TempData["message"] != null)
            {
                <br />
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    @TempData["message"]
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }

            if (TempData["errormessage"] != null)
            {
                <br />
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    @TempData["errormessage"]
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
        }
        <div class="row justify-content-start py-5">
            <div class="col-md-6 mx-5">
                <h1>TMS</h1>
                <br />
                <p>
                    We are proud to announce that we are the logistics service provider for reputable clients,
                    in various sectors, n.l. stores, mail order companies, technical wholesalers,
                    supplier of sports equipment, printing companies, wholesalers in sanitary ware and many internet shops.
                </p>
                <p>
                    We focus on 2 spearheads: "Distribution Benelux Business to Business" and "Distribution Benelux Business to Consumers".
                    We offer 24-hour delivery or same day delivery according to the customer's requirement.
                </p>
                <br />
                <p><b>TMS Logistics</b></p>
            </div>
        </div>
    </div>
</div>

<div class="bg-dark text-white">
    <div class="container">
        <div class="row py-5 text-center">
            <div class="col-md-4">
                <img src="~/images/frontal-truck.svg" alt="" height="75" width="75">
                <b>@ViewData["trucks"]</b> Trucks!
            </div>
            <div class="col-md-4">
                <img src="~/images/package.svg" alt="" height="75" width="75">
                <b>@ViewData["orders"]</b> Orders!
            </div>
            <div class="col-md-4">
                <img src="~/images/human-resources.svg" alt="" height="75" width="75">
                <b>@ViewData["costumer"]</b> Clients!
            </div>
        </div>
    </div>
</div>

<div class="text-black">
    <div class="container">
        <div class="row">
            <div class="col-md-6 py-5">
                <div class="mx-5">
                    <h2>Why TMS</h2>
                    <br/>
                    <p>
                        TMS does not have a complicated organizational structure, but short and powerful communication lines. What we agree on, that is the full 100%.
                    </p>
                </div>
            </div>
            <div class="col-md-6 bg-red py-5 text-white">
                <h2 class="text-center">Request a quote!</h2>
                @Html.Partial("_Mail")
            </div>
        </div>
    </div>
</div>